/* Global Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Body Styles */
body { 
    background: linear-gradient(135deg, rgba(93, 159, 165, 0.8), rgba(182, 210, 226, 0.8)), url('background-image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

/* Container Styles */
.container {
    width: 100%;
    max-width: 1200px;
    margin: 10vh auto;
    padding: 20px;
    background: rgba(255, 255, 255, 0.85);
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

/* Header Styles */
header {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 30px;
}

header h1 {
    font-size: 48px;
    margin: 0;
    font-weight: 400;
    letter-spacing: .5rem;
    color: #333; 
    animation: slide-in 1s forwards;
}

header h1 span {
    font-weight: bold;
}

header .title-line {
    border: 0;
    height: 1px;
    background: #000;
    margin: 15px 0;
}

header h2 {
    font-size: 24px;
    margin: 0;
    color: #666;
    font-weight: 300;
    letter-spacing: 4px;
}

/* Content Styles */
.content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    opacity: 0;
    animation: fade-in 1s ease forwards;
}

@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Left Column Styles */
.left-column, .right-column {
    flex: 1; 
    min-width: 300px;
    padding: 20px;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.95);
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

/* Separator Styles */
.separator {
    width: 1px;
    background: #000;
    margin: 0 2em; 
}

/* Heading Styles */
h3 {
    font-size: 24px;
    margin-top: 1em;
    border-bottom: 2px solid #262626;
    padding-bottom: 5px;
    margin-bottom: 15px;
}

/* Contact Styles */
.contact ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.contact ul li {
    margin-bottom: 1em;
}

.contact ul li a {
    text-decoration: none;
    color: #007bff;
    transition: color 0.3s ease-in-out;
}

.contact ul li a:hover {
    color: #28a745;
}

/* Job Title Styles */
.work-experience .job h4 {
    margin: 0;
    transition: transform 0.3s ease-in-out;
}

/* Media Query for Mobile Screens */
@media (max-width: 600px) {
    .separator {
        display: none;
    }
}

/* Keyframes for Animations */
@keyframes slide-in {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}


/* Hover Effect for Sections */
.left-column, .right-column {
    transition: box-shadow 0.3s ease-in-out;
}

.left-column:hover, .right-column:hover {
    box-shadow: 0 10px 20px rgba(4, 4, 4, 0.362); /* Shadow on hover */
}

